<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Apartment Shoper</title>
  </head>
  <body>
    <p>You are not signed in</p>
    <a href="http://10.0.0.43:3000/users/login">Login</a>
    <a href="http://10.0.0.43:3000/shop">browse</a>
  </body>
</html>
